@model List<Data.ViewModels.CourseViewModel>

<h2>Course List</h2>

<p>
    <a href="/Course/Create" class="btn btn-success">Create New</a>
</p>
<table class="table table-bordered">
    <tr>
        <th>Course Name</th>
        <th>Total Credit Hours</th>
        <th>Status</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCreditHours)
            </td>
            @if (item.IsActive == true)
            {
                <td> <i class="glyphicon glyphicon-check text-success"></i> Active</td>
            }
            else
            {
                <td> <i class="glyphicon glyphicon-exclamation-sign text-danger"></i> Deactivated</td>
            }
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
